<div class="helper-app">
  <div ng-repeat="item in $ctrl.data">
    <page-data display="item.display" file-name="item.fileName" done="item.done" copy-action="$ctrl.copy(fileName)"></page-data>
  </div>
</div>
