body {font-family: "American Typewriter"}

/*
 * HeroBook styles
 */
.hero-book__name {
  background-color: greenyellow;
  padding: 5px;
}

.hero-book__name > input {
  background-color: yellow;
  width: 250px;
}

/*
 * HeroDetail styles
 */
.hero-detail {
  background-color: lightgoldenrodyellow;
}

.done {
  color: blue;
}
