<div class="hero-detail">
  <hr>
  <span>Name: {{$ctrl.heroName ? $ctrl.heroName : '???'}} with power {{$ctrl.heroDetails.power}}</span> ***
  <br>
  <input type="checkbox"
         ng-model="$ctrl.powerInEffect"
         ng-change="$ctrl.onActivate({powerInEffect: $ctrl.powerInEffect})"
  ><span>Enable power</span>
  <br>
  <button ng-click="$ctrl.done()">Activate</button>
  <hr>
</div>
