<div class="hero-book">
  <div class="hero-book__name">
    <label>Name:</label>
    <input type="text" ng-model="$ctrl.heroName" placeholder="Enter your hero's name here">
  </div>
  <hr>
  <h3>Hello {{$ctrl.heroName}}!</h3>
  <br>
  <b>Hero: Power = {{$ctrl.hero.power}}</b><br>
  <hero-detail hero-name="$ctrl.heroName"
               hero-details="$ctrl.hero"
               power-in-effect="$ctrl.hasPower"
               on-activate="$ctrl.activate(name, power, powerInEffect)"></hero-detail>
</div>
