.helper-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-data {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  div {
    border: 1px solid black;
    flex-grow: 1;
  }
}

.done {
  background-color: cadetblue;
}
